<!DOCTYPE html>
<html>
	<head>
		<title>BUENIDA BOOK REVIEWS</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel = 
		"stylesheet" href = "styles.css">
	</head>

	<body>
		<div class="container">
			<br>
			<h1>Buenida Book Reviews</h1>
			<h2>{% block heading %}
				{% endblock %}
			</h2>
		</div>
		<div class="container">
			<br>
			{% block body %}
			{% endblock %}
		</div>
	</body>
</html>
